body{
    margin: 0;
}
.main_div{
    background: url('assets/event_wallpaper.jpg');
    height: 100vh;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, black, transparent);
}
.nav_logo{
    width: 20%;
    display: flex;
    align-items: center;
}
.site_logo{
    width: 13%;
}
.nav_logo p{
    margin: 0;
    color: greenyellow;
    font-size: 22px;
}
.nav_right{
    width: 46%;
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.nav_menu p{
    margin: 0;
    padding: 5px 12px;
    text-transform: uppercase;
    font-size: 14.5px;
    letter-spacing: 1px;
}
.nav_menu p:hover{
    background-color: turquoise;
    border-radius: 20px;
    transition: 0.5s;
    padding: 5px 12px;
    cursor: pointer;
}
.nav_icons{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content_div{
    background: hsl(0deg 0% 0% / 52%);
    box-shadow: 0 8px 32px rgb(0 0 0 / 30%);
    width: 55%;
    margin: auto;
    border-radius: 12px;
    padding: 50px;
    margin-top: 8rem;
}
.content_div h2{
    letter-spacing: 4px;
    color: white;
}
.content_div h1{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 4px;
    color: greenyellow;
    margin-top: 20px;
}
.content_div p{
    letter-spacing: 6px;
    color: turquoise;
    font-size: 17px;
}
.home_button{
    margin-top: 20px;
    border: 1px solid mediumvioletred !important;
    outline: none !important;
    padding: 7px 15px !important;
    border-radius: 19px !important;
    background-color: mediumvioletred !important;
    color: white !important;
    font-weight: 700 !important;
    letter-spacing: 2px !important;
}
.home_button:hover{
    margin-top: 20px;
    border: 1px solid mediumvioletred !important;
    outline: none !important;
    padding: 7px 15px !important;
    border-radius: 19px !important;
    background-color: white !important;
    color: mediumvioletred !important;
    transition: 0.5s !important;
    font-weight: 700 !important;
    letter-spacing: 2px !important;
}
.carousel_items{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 3rem;
}
.carousel{
    width: 52%;
}
.carousel_items p{
    width: 46%;
    margin: 0;
}
.service_div{
    padding: 3rem 0 !important;
}
.service_cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.single_card{
    background-color: white;
    color: gray;
    display: flex;
    padding: 1rem;
    width: 25%;
}
.single_card:nth-child(even) {
    background-color: teal;
    color: white;
    box-shadow: 0 8px 32px rgb(0 0 0 / 30%);
}
.single_card:nth-child(odd) {
    background-color: white;
}
.single_card h3{
    font-size: 20px;
    margin-bottom: 0.5rem;
}
.single_card p{
    font-size: 14px;
    margin: 0;
}
.single_card2{
    background-color: white;
    color: gray;
    display: flex;
    padding: 1rem;
    width: 25%;
}
.single_card2:nth-child(odd) {
    background-color: teal;
    color: white;
    box-shadow: 0 8px 32px rgb(0 0 0 / 30%);
}
.single_card2:nth-child(even) {
    background-color: white;
}
.single_card2 h3{
    font-size: 20px;
    margin-bottom: 0.5rem;
}
.single_card2 p{
    font-size: 14px;
    margin: 0;
}
.footer_div{
    padding: 1.5rem 0 !important;
    background-color: #14081e;
}
.footer_div h1{
    color: white;
}
.footer_sections{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.contact{
    width: 30%;
}
.media_icons{
    width: 26%;
    color: white;
}
.email_card{
    width: 34%;
    background: hsl(0deg 15% 84% / 7%);
    padding: 2rem;
    border-radius: 10px;
}
.email_button{
    width: 50%;
    margin: auto;
}
.card_single_card{
    color: white;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}
.card_single_card p{
    color: gray;
}
.map-container{
    width: 100%;
    height: 60vh;
}
.copyright{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
.mobcoll.collapse:not(.show) {
    display: block !important;
}
.services_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: powderblue;
    padding: 0.3rem;
    border-radius: 7px;
}
.serviceList{
    padding: 0.5rem;
    margin: 0;
    background-color: white;
    border-radius: 7px;
    width: 20%;
    text-align: center;
    cursor: pointer;
    color: deeppink;
    transition: 0.5s;
    font-weight: 700;
    letter-spacing: 2px;
}
.serviceList1{
    padding: 0.5rem;
    margin: 0;
    width: 20%;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2px;
}








/* mobile responsive */
@media screen and (max-width: 767px) {
    .main_div{
        height: 80vh;
    }
    .nav{
        display: block;
    }
    .nav_logo{
        margin: auto;
        width: 100%;
    }
    .nav_logo p{
        font-size: 26px;
    }
    .site_logo{
        width: 20%;
    }
    .nav_right{
        display: none;
        width: 100%;
    }
    .nav_menu{
        width: 85% !important;
    }
    .content_div{
        margin-top: 3rem;
        width: 85%;
    }
    .content_div h2{
        font-size: 16px;
    }
    .content_div h1{
        font-size: 35px;
    }
    .content_div p {
        letter-spacing: 5px;
        color: turquoise;
        font-size: 16px;
        margin-top: 1rem;
    }
    .carousel_items{
    display: block;
    }
    .carousel{
        width: 100%;
    }
    .carousel_items p{
        width: 100%;
        margin-top: 2rem;
        word-spacing: 5px;
    }
    .services_list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: powderblue;
        padding: 0.3rem;
        border-radius: 7px;
        flex-wrap: wrap;
    }
    .serviceList{
        width: 48%;
    }
    .serviceList1{
        width: 48%;
    }
    .service_cards{
        display: block;
    }
    .single_card{
        width: 100%;
        margin-bottom: 20px;
        border-radius: 7px;
    }
    .single_card2{
        width: 100%;
        margin-bottom: 20px;
        border-radius: 7px;
    }
    .single_card2:nth-child(even) {
        background-color: teal;
        color: white;
        box-shadow: 0 8px 32px rgb(0 0 0 / 30%);
    }
    .single_card2:nth-child(odd) {
        background-color: white;
        color: gray;
    }
    .footer_sections{
        display: block;
    }
    .contact{
        width: 80%;
        margin: auto;
    }
    .email_card{
        width: 100%;
        margin-top: 3rem;
        padding: 1rem;
    }
    .email_card label{
        font-size: 18px;
    }
    .media_icons{
        width: 100%;
    }
    .media_icons h5{
        font-size: 30px;
    }
}